{% extends 'base.html.twig' %}

{% block main %}
  <div class="subheader">
    <div class="title">
      <h2>Principais eventos</h2>
    </div>
  
    <form class="search-form-2" action="" method="GET">
      <label for="query"></label>
      <input class="space-form-text-2" type="text" id="query" name="query" placeholder="Search events" />
      <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
    </form>
  
  </div>
  
  <div class="eventos-geral"></div>
{% endblock %}