{% extends 'base.html.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/assets?css=user-register">
{% endblock %}

{% block main %}
  <div class="main-user-register">
  
    <section class="card-user-register">
      <h2>Registrar</h2>

      <form action="javascript:void(0)" name="form_user_register" onsubmit="OBJUser.register(this)">
        <div class="textfield">
          <label for="email"></label>
          <input placeholder="Email" type="email" id="email" name="email" required />
        </div>
        <div class="textfield">
          <label for="password"></label>
          <input placeholder="Password" type="password" id="password" name="password" required />
        </div>
        <br>
        <button class="btn-user-register" type="submit">registrar</button>
      </form>
  
      <p><a href="/login">SignIn</a></p>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/assets?js=user-register"></script>
{% endblock %}