{% extends 'base.html.twig' %}

{% block main %}
  <section class="admin-container">
    
    <div class="admin-content">
      <h2 class="title">Administração de usuarios</h2>

      <div class="user-table"></div>
    </div>

  </section>
{% endblock %}
