@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap");

/* Estilo geral */
* {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #ffffff;
}

/* Retirar rolagem da scrollbar */
body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff6600;
  color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 0px 10px #333;
}

h1 {
  margin: 0;
}

/* Navegação */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
  transition: 0.9s;
}

nav ul li a:hover {
  transform: scale(1.1);
  color: #f8f8f8;
}

.register-event {
  border: 1px solid #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.register-event:hover {
  transform: scale(1.1);
  background-color: #3858e9;
}

.home-page {
  width: 28px;
  transition: 0.9s;
  transition: 0.3s;
}

.home-page:hover {
  transform: scale(1.1);
}

.leave-img {
  width: 30px;
  transition: 0.9s;
}

.leave-img:hover {
  transform: scale(1.1);
}

.perfil-img {
  width: 26px;
  transition: 0.9s;
}

.perfil-img:hover {
  transform: scale(1.1);
}

.subheader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.search-form-2 {
  margin: 24px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.space-form-text-2 {
  padding: 12px;
  margin-right: 4px;
  border-radius: 8px;
  border: solid 0.5px;
}

.btn-search {
  width: 50px;
  background-color: transparent;
  padding: 2px;
  border-radius: 8px;
  border: none;
  background-color: #ff6600;
  color: #f1f1f1;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #3858e9;
}

/* Seção de eventos */
.title h2 {
  display: flex;
}

h2 {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: center;
}

.eventos-geral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  transition: 0.9s;
  margin-bottom: 100px;
}

.event {
  width: 25% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 20px;
  transition: 0.9s;
}

.event:hover {
  transform: scale(1.1);
}

.image-teste {
  width: 360px;
  border-radius: 20px;
}

.event h3 {
  margin-top: 0;
  font-size: 20px;
  transition: 0.3s;
}

.event h3:hover {
  color: #3858e9;
}

.event p {
  margin-bottom: 10px;
}

/* 
.eventos{
    display: flex;
    flex-direction: row;
}

#eventsContainer{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.event-link img{
    width: 200px;
    margin: 5px;

}

.event-link img:hover{
    transform: none;
}

.events {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: 0.9s;
    flex-wrap: wrap;
}

.event h3 {
    margin-top: 0;
    font-size: 20px;
    transition: 0.3s;
}

.event h3:hover {
    color: #3858e9;
}

.event p{
    margin-bottom: 10px;
}

.btn-registrar{
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px;
    border: none;
    border: none;
    background-color: #FF6600;
    color: #f1f1f1;
    cursor: pointer;
}

.btn-registrar:hover{
    background-color: #3858e9;
} */
