@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap");
@import url('/assets?css=icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --white-100: #ffffff;
  --white-200: #f1f1f1;
  --white-300: #f8f8f8;
  
  --primary: #ff6600;
  --secondary: #3858e9;
  
  --gray-100: #eeeeee;
  --gray-200: #ededed;
  --gray-300: #dcdcdc;

  --black-800: #333333;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.025rem;
  background-color: var(--white-100);
  line-height: 1.785em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  background-color: var(--primary);
  backdrop-filter: blur(4px);
  color: var(--white-200);
  padding: 20px;
  box-shadow: 0 0 10px var(--black-800);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  color: var(--white-200);
  transition: 0.3s;
}

nav ul li a:hover {
  transform: scale(1.1);
  color: var(--white-300);
}

main.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  
  margin: 0 auto;
  max-width: 1524px;
  height: 82vh;
}

section.event-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 116px;
  background: var(--gray-200);
  background: linear-gradient(0deg, var(--gray-300) 0%, var(--white-100) 100%);
  
}

section[class*="-container"] {
  padding: 0.75rem 1.25rem;
}

div.event-content {
  flex: 1;
}

.search-form {
  margin: 24px;
  display: flex;
  flex-direction: row;
}

.search-form-text {
  font-size: 1rem;
  padding: 12px;
  margin-right: 8px;
  border-radius: 8px;
  border: 2px solid var(--gray-300);
}

.search-form-text:focus-visible {
  outline: 2px solid var(--primary);
  border: 2px solid transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search {
  min-width: 50px;
  padding: 2px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  color: var(--white-200);
  cursor: pointer;
}

.btn-search:hover {
  background-color: var(--secondary);
}

.btn-search .icon {
  font-size: 16px;
}

h2.title {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.2rem;
  width: 100%;
  height: 60px;
  background: var(--white-100);
  text-align: right;
}
