@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap");

/* Estilo geral */
* {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #ffffff;
}

/* Retirar rolagem da scrollbar */
body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff6600;
  color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 0px 10px #333;
}

h1 {
  margin: 0;
}

/* Navegação */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
  transition: 0.9s;
}

nav ul li a:hover {
  transform: scale(1.1);
  color: #f8f8f8;
}

.register-event {
  border: 1px solid #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.register-event:hover {
  transform: scale(1.1);
  background-color: #3858e9;
}

.home-page {
  width: 28px;
  transition: 0.9s;
  transition: 0.3s;
}

.home-page:hover {
  transform: scale(1.1);
}

.leave-img {
  width: 30px;
  transition: 0.9s;
}

.leave-img:hover {
  transform: scale(1.1);
}

.perfil-img {
  width: 26px;
  transition: 0.9s;
}

.perfil-img:hover {
  transform: scale(1.1);
}

/* ------------------------------ */

h1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

form {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}

form input {
  padding: 10px;
  margin-right: 5px;
  border-radius: 8px;
  border: 0.5px solid;
}

.btn-search {
  width: 60px;
  background-color: transparent;
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: #ff6600;
  color: #f1f1f1;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #3858e9;
}

.btn-events {
  font-size: 16px;
  width: 200px;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ff6600;
  color: #f1f1f1;
  cursor: pointer;
}

.btn-events:hover {
  background-color: #3858e9;
}

.ver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  margin-top: 20px;
  width: 99%;
  border-collapse: collapse;
  border-radius: 20px;
}

span {
  font-weight: bold;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-right: 0.5px solid #ddd;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ff6600;
  color: #f2f2f2;
}

tr {
  background-color: #f1f1f1;
  cursor: pointer;
}

tr:hover {
  background-color: #f8f8f8;
}
